

h1 {
    background-color: yellow;
    align-content: center;
}



#display_area {
    --big-width: 800px;
    width: var(--big-width);
    height: 650px;
    left: 100px;
    position: absolute;
}

#display_left {
    --display-height: 150px;
    display: flex;
    flex-flow: row; 
    justify-content: space-between;
    flex-wrap: wrap;
    height: var(--display-height);
}

#display_right {
    display: flex;
    flex-flow: column;

    justify-content: space-between;
    flex-wrap: wrap;

}

#start_area {
    height: 50%;
    display: flex;
    align-items: flex-end;
}

#start {

    width: 100px;
    font-size: 200%;
    bottom: height;
}

#display_timer {
    height: 50%;
}

#display_time {
    /*width: var(--big-width);*/
    font-size: 150%;
    color: red;
    font-weight: bold;
}


#kumo {
    position: relative;
    height: var(--display-height);
}

#img_kumo {
    height: var(--display-height);
}

#display_get {
    position: absolute;
    font-size: 150%;
    top: 40%;
    color: grey;
    font-weight: bold;

    left: 83%;
}

#main_area {
    display: flex;
    height: 300px;
    flex-wrap: wrap;

}

#wani {
    position: relative;
    background-color: rgb(244, 243, 174);

    flex-grow: 1;
    height: 300px;
    z-index: 1;
}

#neko {
    position: relative;
    width: 75px;
    background-color: rgb(174, 231, 244);

    z-index: 0;
}

#img_neko {
    width: 50px;
    height: 50px;
    position: absolute;
}

#img_neko_dead {
    /*display: none;*/
    width: 60px;
    /*visibility: hidden;*/
    position: absolute;
}

#message {
    /*position: relative;*/
    width: var(--big-width);
    height: 80px;
    font-size: 200%;
    display: flex;
    justify-content: center;
    font-family: "meiryo";
    /*font-weight: bold;*/
}

